[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "editorconfig"]
	path = editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
